
        <!--==========================
      Facts Section
    ============================-->
        <section id="facts" class="wow fadeIn mb-0 pb-0">
            <div class="container">

                <header class="section-header">
                    <h3>Facts</h3>
                    <p>Count Companies and Industries and Sectors</p>
                </header>

                <div class="row counters">

                    <div class="col-lg-4 col-12 text-center">
                        <span data-toggle="counter-up">@ViewBag.comp</span>
                        <p>Companies</p>
                    </div>

                    <div class="col-lg-4 col-12 text-center">
                        <span data-toggle="counter-up">@ViewBag.sec</span>
                        <p>Sectors</p>
                    </div>

                    <div class="col-lg-4 col-12 text-center">
                        <span data-toggle="counter-up">@ViewBag.ind</span>
                        <p>Industries</p>
                    </div>


                </div>

            </div>
        </section><!-- #facts -->
     
